.ipynb_checkpoints
.vscode/
.venv/

*.pdf
*.xml
*.gz
*.bcf
*.aux
*.log
*.pyc
*.out
*.fls
*.fdb_latexmk
*.blg
*.blb
*.bbl
outputs/
.DS_Store
.mypy_cache/

wandb/
dvclive.json
lightning_logs/
model/
wandb/
